*{
  font-family: "DejaVu Sans", "Liberation Sans", sans-serif;
}

#tiny{
  font-size:12px;
}

h1 { font-size:16pt }
h2 { font-size:14pt }
h3 { font-size:12pt }

html{
  height:100%;
  width:100%;
}
body {
  height:100%;
  background-image:url("granola.jpg");
  background-repeat:no-repeat;
  /* background-position:0px 10px; */
  background-size:2000px;
}

#title{
  /* border:1px solid red; */
  text-align:center;
  display:block;
  margin-bottom:20px;
}
#title h1{
  font-size:2.5em;
}
#main{
  width:600px;
  display:block;
  margin-top:20px;
  margin-bottom:20px;
  margin-left:auto;
  margin-right:auto;
  border-radius:10px;
  background-color:#DCAA79;
  padding:10px 15px 10px;
}
#footer {
  width:500px;
  display:block;
  margin-top:20px;
  margin-bottom:20px;
  margin-left:auto;
  margin-right:auto;
  border-radius:10px;
  background-color:#DCAA79;
  padding:10px 15px 10px;
  margin-bottom: 20px;

  text-align: center;
}
#footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#footer li {
  display:inline;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  margin-top:10px;
  margin-bottom:10px;
}
th, td {
  border: 1px solid black;
  padding: 3px;
}

/* styling for markdown code blocks: */
pre {
  white-space: pre;
  white-space: -moz-pre;
  white-space: -o-pre;
  background: #fd9;
  padding: 1em;
  border: 1px solid #555;
  font-size: 0.65em;
  font-family: "Lucida Console", Monaco, monospace;
}
pre code {
  font-family: "Lucida Console", Monaco, monospace;
}
