<!DOCTYPE html>
<html>
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
  <meta name="description"
        content="Somerville Granola Making Coop, a community food-production cooperative">
<title>Somerville Granola Making Cooperative</title>
  <link rel='stylesheet' href='stylesheet.css' type='text/css' />
</head>

<body>
  <div id="title">
    <h1>Somerville Granola Making Cooperative</h1>
    <h2>Hyper-local granola made by you and your community!</h2>
  </div>
  <div id="main">
    {{ content }}
  </div>
  <div style="clear:both"></div>
  <div id="footer">
    <ul>
    <li><a href="/shift_matrix.html">shift matrix</a></li>
    •
    <li><a href="/docs.html">documentation</a></li>
    </ul>
  </div>
  <div style="clear:both"></div>
  <br>
</body>

</html>
